.slide-wrap{
    text-align: center;
}

.slide-wrap a{
    text-decoration: none;
    background-color: slateblue;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 10px;
    margin: 0 0 0.5rem 0;
}

.slider {
    width: 300px;
    height: 300px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}


.slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    background-color: red;
    border-radius: 15%;
    scroll-snap-align: start;
    
}

